[Unit]
Description=Timer for System Flatpak Updates

[Timer]
OnBootSec=5m
OnUnitActiveSec=12h
RandomizedDelaySec=2m
Persistent=true
Unit=flatpak-system-update.service

[Install]
WantedBy=timers.target
