[Unit]
Description=Apply Flatpak system updates
Documentation=man:flatpak(1) man:flatpak-update(1)
After=network-online.target
Wants=network-online.target
ConditionACPower=true

[Service]
Type=oneshot
# Skip automatic update if NetworkManager reports connection is metered (1=yes, 3=guess-yes)
ExecCondition=/bin/bash -c 'm=$(busctl get-property org.freedesktop.NetworkManager /org/freedesktop/NetworkManager org.freedesktop.NetworkManager Metered 2>/dev/null || true); [[ "$m" != *" 1" && "$m" != *" 3" ]]'

ExecStart=/usr/bin/flatpak --system update -y --noninteractive
ExecStart=/usr/bin/flatpak --system uninstall --unused -y --noninteractive

ProtectSystem=full
ProtectHome=true
PrivateTmp=true

Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
