[Unit]
Description=Kinoite Push Update Trigger Socket (FCM-style)
Documentation=https://github.com/jbdsjunior/kinoite-bluebuild

[Socket]
ListenStream=58080
FreeBind=true
Accept=yes
MaxConnections=5

[Install]
WantedBy=sockets.target
