[Unit]
Description=Run topgrade system update shortly after boot

[Timer]
OnStartupSec=10m
RandomizedDelaySec=5m
Unit=topgrade-boot-update.service

[Install]
WantedBy=timers.target
