[Unit]
Description=Timer for User Flatpak Updates

[Timer]
# CORREÇÃO: Tempos expandidos para evitar checagens agressivas na rede
OnBootSec=15m
OnUnitActiveSec=24h
RandomizedDelaySec=1h
AccuracySec=5m
Unit=flatpak-user-update.service
Persistent=true

[Install]
WantedBy=timers.target