[Unit]
Description=Apply Flatpak user updates
Documentation=man:flatpak(1) man:flatpak-update(1)
After=network-online.target
Wants=network-online.target
ConditionACPower=true

[Service]
Type=oneshot
# Skip automatic update if NetworkManager reports connection is metered, offline, captive portal, or limited
ExecCondition=/usr/libexec/kinoite/network-guard

ExecStart=/usr/bin/flatpak --user update -y --noninteractive
ExecStart=/usr/bin/flatpak --user uninstall --unused -y --noninteractive

Nice=19
CPUSchedulingPolicy=idle
IOSchedulingClass=idle
