# Podman user prune timer
[Unit]
Description=Run rootless Podman prune daily

[Timer]
OnBootSec=25m
OnUnitActiveSec=1d
RandomizedDelaySec=30m
Persistent=true
AccuracySec=1m
Unit=podman-user-prune.service

[Install]
WantedBy=timers.target
