[Unit]
Description=Run topgrade update (misc/containers)

[Timer]
OnStartupSec=1h
# OnUnitInactiveSec=6h
OnCalendar=daily
RandomizedDelaySec=15m
Persistent=true
Unit=topgrade-boot-update.service

[Install]
WantedBy=timers.target
