[Unit]
Description=Run topgrade update (misc/containers only)

[Timer]
OnStartupSec=30m
OnUnitInactiveSec=6h
RandomizedDelaySec=15m
Persistent=true
Unit=topgrade-boot-update.service

[Install]
WantedBy=timers.target
