[Unit]
Description=Schedule topgrade unattended update

[Timer]
# Twice a day with jitter to avoid synchronized load peaks.
OnCalendar=*-*-* 03,15:00
RandomizedDelaySec=30m
AccuracySec=5m
Persistent=true
Unit=topgrade-update.service

[Install]
WantedBy=timers.target
