[Unit]
Description=Topgrade update (system only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=75
TimeoutStartSec=3600
ExecStart=/usr/bin/flock -E 75 -w 900 %t/topgrade-update.lock /usr/bin/topgrade -cy --no-ask-retry --auto-retry 2 --notify-end on_failure --only system
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
