[Unit]
Description=Schedule topgrade unattended update

[Timer]
OnStartupSec=10m
OnUnitInactiveSec=45m
RandomizedDelaySec=15m
AccuracySec=1m
Persistent=true
Unit=topgrade-update.service

[Install]
WantedBy=timers.target
