[Unit]
Description=Run topgrade system update daily

[Timer]
OnCalendar=daily
RandomizedDelaySec=15m
Persistent=true
Unit=topgrade-system-update.service

[Install]
WantedBy=timers.target
