[Unit]
Description=Topgrade update (misc/containers)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=75
TimeoutStartSec=3600
ExecStart=/usr/bin/flock -E 75 -n %t/topgrade-update.lock /usr/bin/topgrade -cy --no-ask-retry --auto-retry 2 --no-self-update --notify-end on_failure --disable system flatpak
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle