[Unit]
Description=Run topgrade flatpak update

[Timer]
# Start 5 minutes after user session begins, then every 2 hours
OnStartupSec=5m
OnUnitInactiveSec=2h
RandomizedDelaySec=10m
AccuracySec=1m
Persistent=true
Unit=topgrade-flatpak-update.service

[Install]
WantedBy=timers.target
