[Unit]
Description=Run topgrade system update

[Timer]
OnStartupSec=7m
OnUnitInactiveSec=3h
RandomizedDelaySec=10m
AccuracySec=1m
Persistent=true
Unit=topgrade-system-update.service

[Install]
WantedBy=timers.target
