[Unit]
Description=Topgrade boot update (misc/containers only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=75
ExecStart=/usr/bin/flock -E 75 -n %t/topgrade-update.lock /usr/bin/topgrade -cy --no-retry --disable system flatpak
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
