[Unit]
Description=Run topgrade flatpak update

[Timer]
OnStartupSec=12m
OnUnitInactiveSec=90m
RandomizedDelaySec=8m
AccuracySec=1m
Persistent=true
Unit=topgrade-flatpak-update.service

[Install]
WantedBy=timers.target
