[Unit]
Description=Run topgrade update

[Timer]
OnStartupSec=10m
OnUnitInactiveSec=1h
RandomizedDelaySec=15m
AccuracySec=1m
Persistent=true
Unit=topgrade-update.service

[Install]
WantedBy=timers.target
