[Unit]
Description=Run topgrade update (misc/containers)

[Timer]
OnStartupSec=20m
OnUnitInactiveSec=12h
RandomizedDelaySec=20m
AccuracySec=1m
Persistent=true
Unit=topgrade-boot-update.service

[Install]
WantedBy=timers.target
