# Mouse VXE / Receptores Compx
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3554", MODE="0666", TAG+="uaccess"

# Fone MCHOSE X9
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3837", MODE="0666", TAG+="uaccess"

# Teclado Gamer BY Tech
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="258a", MODE="0666", TAG+="uaccess"

# Controlador RGB ITE (Placa-mãe / LEDs)
KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="048d", MODE="0666", TAG+="uaccess"
