[Unit]
Description=Topgrade update (flatpak only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/topgrade -cy --no-retry --only flatpak
Nice=19
IOSchedulingClass=idle
