[Unit]
Description=Topgrade update (system only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -E 0 -n /run/topgrade-update.lock /usr/bin/topgrade -cy --skip-notify --no-retry --only system
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle