[Unit]
Description=Run Topgrade every hour

[Timer]
OnBootSec=10m
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
