[Unit]
Description=Run topgrade flatpak update every hour

[Timer]
OnCalendar=
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true
Unit=topgrade-flatpak-update.service

[Install]
WantedBy=timers.target
