[Unit]
Description=Topgrade update (flatpak only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -E 0 -n /run/topgrade-update.lock /usr/bin/topgrade -cy --no-retry --skip-notify --only flatpak
Nice=19
IOSchedulingClass=idle
CPUSchedulingPolicy=idle