name: check-updates
on:
  schedule:
    - cron: "00 06 * * *"  # 06:00 UTC
    - cron: "0 */4 * * *"  # a cada 4 horas
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  check-and-trigger:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Install Skopeo
        run: |
          sudo apt-get update
          sudo apt-get -y install skopeo

      - name: Ensure gh auth
        run: gh auth status
        env:
          GITHUB_TOKEN: ${{ github.token }}

      # AMD base (kinoite-main)
      - name: Check Main Image (for AMD)
        id: check_amd
        run: |
          set -euo pipefail
          DIGEST=$(skopeo inspect docker://quay.io/fedora/fedora-kinoite:latest --format '{{.Digest}}')
          echo "digest=$DIGEST" >> "$GITHUB_OUTPUT"

      - name: Check AMD Cache
        id: cache_amd
        uses: actions/cache@v5
        with:
          path: ~/.cache-amd
          key: upstream-main-${{ steps.check_amd.outputs.digest }}

      - name: Trigger AMD Build
        if: steps.cache_amd.outputs.cache-hit != 'true'
        run: |
          set -euo pipefail
          gh workflow run build-amd.yml --ref main --repo "${{ github.repository }}"
          mkdir -p ~/.cache-amd
          echo "${{ steps.check_amd.outputs.digest }}" > ~/.cache-amd/upstream-digest.txt
        env:
          GITHUB_TOKEN: ${{ github.token }}
